/*Schrijf hier jouw eigen CSS*/
*/niet doen*/
.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}